# We can remove start
/.cache/
/.config/
/.local/
/.oh-my-zsh/
/.drush/
/.gnome/
/.gnupg/
/.mozilla/
/.pki/
/.mysql/
/.npm/
/.thunderbird/
/.zoom/
/.node-gyp/
/.steam/
/snap/

/.viminfo
/.zcompdump
/.zcompdump-ruslan-*
/.lesshst
/.mysql_history
/.vimrc
/.NERDTreeBookmarks
/.bash_logout
/.node_repl_history
/.pulse-cookie
/.shell.pre-oh-my-zsh
/.profile
/.pam_environment
/.steampath
/.steampid
/.sudo_as_admin_successful
/.wget-hsts
/composer.lock
# We can remove end

# To manual backup start
# Google chrome tabs
# mysql-workbench settings

/.vim/
# Commit and send /.vim/pack
# Manual backup /.vim/backup

/.aws/
/.ssh/
/Downloads/
/Pictures/

/.bash_history
/.bashrc
/.zsh_history
/.zshrc
/.gitconfig
/.gitignore_global
/.dbshell
/.npmrc
/.psql_history
/.rediscli_history
/.tmux.conf
# To manual backup end

# To manual backup from root folder start
# /etc/fstab
# /etc/crypttab
# /etc/gdm3/custom.conf
# /etc/bluetooth/main.conf
# /etc/hosts
# /root/.mysql
# To manual backup from root folder end

